.background {
   background: linear-gradient(to right, gray, dimgray);
}

.card-title {
   font-size: 1rem;
   text-align: justify;
   overflow: auto;
   height: 60px;
}

.card-title::-webkit-scrollbar {
   display: none;
}

.source-date-container{
   display: flex;
   justify-content: space-between;
   background-color: lightgray;
   padding: 0 10px;
   padding-top: 15px;
   margin-bottom: 10px;
   border-radius: 6px;
   outline: 0.2px solid black;
}
.source-date-container p{
  font-size: 0.65rem;
  
}
.card-text{
   font-size: 0.8rem;
   height: 120px;
}

@media only screen and (min-width:0) and (max-width:576px) {
   .card-title {
      height: 50px;
   }
   .card-text{
    
      height: 80px;
   }
   
}
@media only screen and (min-width:577px) and (max-width:768px) {
   .card-title {
      height: 60px;
   }
   .card-text{
      height: 120px;
   }
   
}
@media only screen and (min-width:769px) and (max-width:1200px) {
   .card-title {
      height: 80px;
   }
   .card-text{
      height: 140px;
   }
   
}

@media only screen and (min-width:1201px) and (max-width:1919px) {
   .card-title {
      height: 100px;
   }
   .card-text{
      height: 200px;
   }
}

.font-size{
 font-size: 15px;
 font-weight: 800;
}
.navbar{
   font-weight: 600;
 
}
.color{
   color:white;

}

